body, html, *:not(img) {
margin:0px;
padding: 0px;
}

#scene {
	max-width: 1200px;
	min-width: 500px;
	width: 100%;
	margin: 0 auto;
	height: 760px;
}

#scene .layer {
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	transition: all 0.2s ease-out;
	width: 100%;
}
#scene .layer img {
	position: relative;
	width: 100%;
	height: auto;
}
#scene .layer-1 img {
	max-width: 521px;
	margin-left: -74%;
	margin-top: 143px;
}
#scene .layer-2, #scene .layer-4, #scene .layer-3 {
	text-align: center;
}

#scene .layer-2 img {
	max-width: 297px;
	margin-right: -65%;
	margin-top: 82px;
}
#scene .layer-3 img {
	max-width: 352px;
	margin-right: -67%;
	margin-top: 357px;
}
#scene .layer-4 img {
	max-width: 109px;
	margin-right: -76%;
	margin-top: 302px;
}

#scene .layer-5 {
	text-align:center;
}

#scene .layer-5 img {
	max-width: 525px;
	margin-top: 148px;
	margin-right: -7.9%;
}

#container {
	background: url('../../../../dist/images/heros/hero-white-background.jpg');
	overflow: hidden;
	height: 760px;
	width: 100%;
}